<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homr</title>
  <link rel="stylesheet" typr="text/css" href="/resources/css/main.css">
</head>
<body>
  <h1>Home</h1>
</body>
</html>