<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" typr="text/css" href="/resources/css/main.css">
</head>
<body>
  <header>

  </header>
  <main>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
      <input type="submit" value="login">
    </form>
  </main>
  <footer>

  </footer>
</body>
</html>